[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
fire = "*"
pillow = "*"
mss = "*"
numpy = "*"
yeelight = {git = "https://github.com/JakeCowton/python-yeelight"}

[requires]
python_version = ">3.5"
